@model IEnumerable<JVideoStore.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    @*<tbody>*@

        @*THE BELOW IS NOW REPLACED BY AJAX CALL TO THE API TO GET CUSTOMERS*@
        @*@foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
                <td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
            </tr>

        }*@

    @*</tbody>*@
</table>


<style>
    .modal-backdrop.fade.in {
        z-index: 0;
    }
</style>


@section scripts
{


    <script>
        $(document).ready(function () { 
            $("#customers").dataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        },                      
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + "> Delete </button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function (e) {
                var button = $(this);
                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Api/Customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }})
                        }})
                    });
        });
    </script>
}



